/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
:root{
    --nav-text: #fff;
}
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}


/* - Header - */
.navbar-nav{
    align-items: center !important;
}
.active-color{
    background-color: rgb(237, 237, 237);
}
.navbar-dark .navbar-nav .active>.nav-link{
    color:#000 !important;
}
.navbar-dark .navbar-nav .nav-link{
    color:#000 !important;
}
.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
  }
  .navbar-nav a{
      color: #000;
      font-weight: bold;
      text-decoration: none;
  }
  .navbar-nav li{
    margin-top: 1.5rem;
  }
  .navbar-collapse{
    justify-content: flex-end;
  }
  .form-inline{
    margin-left: 20px;
  }
/* test*/



  @media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  .bg-light{
      background-color:#fff !important;
  }
@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.news {
	background: none;
	padding: 0;
	color: #fff;
}

.news > .topnews {
	background: #4bb4b6;
	padding: 30px 0;
}

.topnews .topnewstime {
	text-align: center;
}
.topnewstime > .topnewsdate{
	font-family: 'Prata', serif;
	font-size: 3.1em;
	line-height: 1em;
	margin-left: 15px;
}
.topnewstime > .topnewsmonth{
	text-transform: uppercase;
	font-size: 0.9em;
	margin-left: 15px;
}

.news > .topnews .topnewsthumb {
}
.news > .topnews .topnewsthumb img {
	width: 100%;
	max-width: 100%;
}

.news > .topnews h4, .toparticle > h4 {
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.3em;
}

.news > .topnews h4 a {
	color: #fff;
}
.news > .topnews .col-md-8 {

}
.news > .topnews > .row .row {
	margin:0 !important;
}
.news a {
	color: #fff;
}
.row > .col-md-6 > img {
	max-width: 100%;
}
.headlines {
	background: #56bdbf;
	overflow: hidden;
	padding: 20px 30px;
}
.headlines ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.headlines ul > li {
	overflow: hidden;
	display: table;
	margin-bottom: 5px;
	width: 100%;
}
.headlines ul > li > .headlinestitle {
	display: table-cell; vertical-align: middle; width: 85%;
}

.headlinesdate .headlinesdm, .news > .headlines .headlinesdate, .headlinesdate {
	float: left;
	font-family: 'Prata', serif;
}
.headlines .headlinesdate { font-size: 0.8em; width: 15%; min-width: 55px; display: table-cell; vertical-align: middle;}
.headlinesdate .headlinesday, .news > .headlines .headlinesmonth {line-height: 1.7em;}
.headlinesdate .headlinesday {
	border-bottom: 1px solid #fff;
}
.headlinesdate .headlinesyear {
	line-height: 3.5em;
	float: left;
	margin-left: 3px;
}

.news > .newsall {
	display: block;
	padding: 10px;
	text-align: center;
	background: #62c6c8;
	text-transform: uppercase;
	font-weight: bold;
}

/*-----------------------------------List item panel -----------------------------------*/
.list-group-item {
	border: none;
	border-bottom: 1px #d9d9d9 solid;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 0 15px;
}

.list-group-item:last-child {
	border: none;
}

.list-group {
	list-style: disc;
	margin-bottom: 0;
}

.list-group-item:before {
	font-family: Arial, Helvetica, sans-serif;
	color:#f5ce31;
	content:"\2022";
	font-size:2em;
	padding-right:.5em;
	position:relative;
	top:.15em;
}

/*---------------------------------------------Articles---------------------------------*/
.toparticle > .thumb img {
	max-width: 100%;
}

.toparticle > h4 a, #departments .col-md-3 .placeholder-name a {
	color: #333;
}

/*--------------------------------------------------Departments-----------------------------------------*/
#departments {
	background: #f5ce31;
	overflow:hidden;
}

#departments .crossedbg {
	height: 107px;
}

#departments h3 {
	font-weight: bold;
	padding: 15px 0;
}

#departments .col-md-2 {padding: 0;}

#departments .col-md-3 .placeholder-name {
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	margin: 15px 0 10px 0;
	position: relative;
	height:70px;
}
#departments .col-md-3 .placeholder-name:before {
   content:"";
   position: absolute;
   right: 40%;
   top: -10px;
   width: 0;
   height: 0;
   border-right: 13px solid transparent;
   border-bottom: 20px solid #fff;
   border-left: 13px solid transparent;
}
#departments .col-md-3 .placeholder-name h5 {
	font-weight: bold;
	font-size: 1em;
	line-height:1.3em;
}